profiles {
  slurm {
    process.executor = 'slurm'
    process.queue = '<partition>'
    process.clusterOptions = '--account=<account>'
    process.cpus = 1
    process.memory = '2 GB'
    process.time = '30 min'

    executor.queueSize = 20
    executor.submitRateLimit = '10 sec'

    workDir = '<scratch-or-project>/nextflow-work'

    trace.enabled = true
    report.enabled = true
    timeline.enabled = true
  }
}
