profiles {
  hpc_slurm {
    process.executor = 'slurm'
    process.queue = '<partition>'
    process.clusterOptions = '--account=<account>'

    executor {
      queueSize = 50
      submitRateLimit = '10 sec'
    }

    singularity {
      enabled = true
      autoMounts = true
    }

    params {
      max_cpus = 8
      max_memory = '32.GB'
      max_time = '24.h'
    }
  }
}

timeline {
  enabled = true
  file = 'reports/timeline.html'
}

report {
  enabled = true
  file = 'reports/report.html'
}

trace {
  enabled = true
  file = 'reports/trace.txt'
}

dag {
  enabled = true
  file = 'reports/dag.html'
}
